.marker {
  width: 0;
  height: 0;
  pointer-events: none;
  &>div {
    background-repeat: no-repeat;
    bottom: 0;
    transform: translate(-50%, 50%);
    position: absolute;
    &.text {
      [tooltip]::before,
      [tooltip]::after {
        font-family: 'Open Sans', serif;
        font-size: 12px;
        line-height: 1;
        user-select: none;
        pointer-events: none;
        display: block;
        opacity: 1;
      }
      [tooltip]::after {
        content: attr(tooltip);
        text-align: center;
        min-width: 1em;
        max-width: 10em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.75ch 1ch;
        border-radius: 2ch;
        border: 1px solid white;
        background: green;
        color: #fff;
        z-index: 1000;
      }
      &.green {
        [tooltip]::after {
          background: #509C33;
        }
        [tooltip]::before {
          border-top-color: #509C33;
        }
      }
    }
  }
}